<div class="container">

    <div style="text-align: center">
        <h2 style="margin: 20px">XÓA SẢN PHẨM</h2>
        <a style="font-size: 20px"> Bạn thực sự muốn xóa sản phẩm: <b style="color: red">{{itemProduct.name}}</b> chứ ?</a>
        <form action="" method="post" style="margin: 20px">
            <div style="margin:20px">
                <button type="submit"  class=" btn btn-danger">
                    <a style="font-weight: bold; color: yellow" >Đồng Ý Xóa</a>
                </button>
            </div>
            <div>
                <button type=""  class="btn btn-primary">
                    <a style="font-weight: bold; color: white ;text-decoration: none;" href="/product">Không xóa</a>
                </button>
            </div>
        </form>
    </div>

</div>